<header class="header-default">
  <h1>Recipe<span>fy</span></h1>
  <nav>
    <ul>
      <li>
        <a href="#" id="active"> Home </a>
      </li>
      <li>
        <a href="#">Menu</a>
      </li>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <app-common-button
    label="Sign in"
    bgColor="#eb1d36"
    fontColor="#FFF"
    fontSize="14px"
    [icon]="iconButtonLogin"
  >
  </app-common-button>
  <div class="sign-login">
    <h3>BR <span> | </span> EN</h3>
  </div>
</header>
